body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
}

form {
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #000;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #000;
}

input {
    font-size: 30px;
    margin: 5px;
    border-radius: 5px;
}

button {
    font-size: 25px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(32, 150, 150);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 100, 100);
}